body {
    font-size: 62.5%;
    background-color: #eee;
}

.newsletterform {
    margin: 0 auto;
    max-width: 780px;
    min-width: 320px;
    display: block;
    text-align: center;
    letter-spacing: 1px;
    position: relative;
}

.newsletterform .wrap {
    padding: 40px 40px 0px 40px;
}

.newsletterform h3 {    
    display: block;
    font-size:26px;
    font-weight:400;
    line-height:1.2;  
    text-transform: uppercase;
    text-align: center;
    padding-bottom:10px;
    margin: 0 auto 30px auto;
    border-bottom:1px solid #fff;
    width:70%;
}

.newsletterform p {
    font-size:14px;
    line-height:26px;
    margin-bottom:25px;    
}

.newsletterform input {
    font-size: 16px;
    font-weight:500;
    display: block;
    width:55%;
    background:#fff; 
    padding:15px;
    text-align: center;  
    margin: 0 auto 12px auto;
    border:2px solid #2e6da4;
    outline:0;
    border-radius: 3px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.newsletterform input:focus {
    border:2px solid #66afe9;
}

.newsletterform input[type="submit"] {
    background:#337ab7;
    color:#fff;
    width:30%;
    padding:13px;
    cursor: pointer;
    margin-bottom:0;
    border:none;
}

.newsletterform input[type="submit"]:hover {
    background:#286090;
    color: #fff;
    border-color: #204d74;
}

.newsletterform #response,
.newsletterform #response-remove
{
    color: #ff3333;
    font-size: 1.4em;
    height: 25px;
    margin: 0 auto;
    padding-top: 15px;
    text-align: center;
    width: 320px;
}

.newsletterform #response p,
.newsletterform #response-remove p
{
    margin: 0
}

.newsletterform .loading {
    background: url("../img/loading.gif") no-repeat center 20px;
}

@media only screen and (max-width:769px) {

    .newsletterform .wrap {
        padding: 40px 25px;
    }

    .newsletterform input {
        width: 100%;
        margin-bottom: 7px;
    }

    .newsletterform input[type="submit"] {
        width: 100%;
        padding: 16px;
    }

}

@media only screen and (max-width:600px) {

    .newsletterform h3 {
        width: 100%;
    }

}